.Nav-bar{
overflow: ;
display:flex ;
color: rgb(2, 22, 22);

}


ul{
    list-style-type: none;
    display: ;
}

.Nav-bar li{
display: block;
float: left;
padding: 20px;
font-size: 18px;
}

body{

    background-color: rgb(0, 0, 0);
}