.Nav-bar{
display:flex ;
background-color: rgb(122, 118, 138);

}


ul{
    list-style-type: none;
    
}

.Nav-bar li{
display: block;
float: left;
padding: 20px;
font-size: 18px;
}

body{

    background-color: rgb(0, 0, 0);
}

.header{
    font-size: 32px;
    display: flex;
    color: rgb(253, 253, 255);
}

body, html{

    height: 100%;
}


.heroimage{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(1379469.jpg) ;
    

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotext h1{

    display: flex;
    color: white;
    align-items: center;
    height: 300px;
}

.herotext p{

    display: flex;
    color: rgb(255, 255, 255);
    align-items: top;
    height: 900px;

}

.navbartext li{

    text-decoration: none;
    font-size: 20px;
    font-style:normal

}